{{ $ := .root }}
{{ $page := .page }}

<div class="row featured">
  {{ with $page.Title }}
  <div class="col-md-12 section-heading">
    <h1 style="font-size: 24px;">{{ . | markdownify | emojify }}</h1>
    {{ if $page.Params.subtitle }}<p>{{ $page.Params.subtitle | markdownify | emojify }}</p>{{ end }}
  </div>
  {{ end }}

  {{ with $page.Content }}
  <div class="col-md-12" style="height: 100px;">
    <p>{{ . | markdownify }}</p>
  </div>
  {{ end }}

  {{ range $page.Params.featured }}
  {{ $image_src := .img_src}}
  {{ $url := .url}}
  {{ $width := .img_width}}
  {{ $height := .img_height}}
  {{ $image_src = printf "img/%s" $image_src | relURL }}
  
  <div class="col-12 col-sm-4 col-xl-3" style="margin-top: 30px;padding: 0 10px;">
    {{ with .url }}
    <div style="height: 100%; cursor: pointer; padding: 20px 17px 10px;background-color: #fff;border-bottom-right-radius: 15px;border-top-left-radius: 15px;" onclick="window.open('{{ $url }}')">{{ end }}
      {{ with .img_src }}
      <div class="featured-icon" >
        <img src="{{ $image_src }}" alt="" width="{{ $width }}" height="{{ $height }}"/>{{ end }}
      <div class="titlename">{{ .name | markdownify | emojify }}</div>
      </div>
      <h3></h3>
      <div>
        {{ with .description }}<p>{{ . | markdownify | emojify }}</p>{{ end }}
      </div>
    </div>
  </div>
  {{ end }}
</div>
<!-- <script type="text/javascript">
  var heightforwords = 
</script> -->
