{{ if .Params.widgets }}

{{ partial "widget_page.html" . }}

{{ else }}

{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

{{ partial "page_header.html" . }}



<div class="container {{ if or (eq .Type `blogList`) (eq .Type `tags`) }}blog-list{{ end }}">
  {{ with .Content }}
  <div class="article-style" itemprop="articleBody">{{ . }}</div>
  {{ end }}

  {{ $paginator := .Paginate .Data.Pages }}
  {{ range $paginator.Pages }}
    {{ if eq .Type "posts" }}
      {{ $first_author := "" }}
      {{ if .Params.authors }}
        {{ $first_author = index .Params.authors 0 }}
      {{ end }}
      {{ $date := dateFormat .Site.Params.date_format .Params.lastmod }}
      <div class="col-md-12 card-main">
        <div class="card">
            <div class="card-body">
              <div class="col-12 col-sm-4 col-md-3 col-lg-2 stream-meta article-metadata" style="float: left;">
                    <!-- time -->
                  <div itemprop="author">  
                    
                    <div class="article-metadata">


                      <span class="article-date">
                      
                        <div style="width: 35%;float: left;font-size: 40px;font-weight: bold;color: #212529;text-align: center;">{{ .Params.Dateday }}</div>
                        <div style="float: left;margin-top: 12px;">
                          <div style="font-size: 27px;color: #ddd;float: left;">/</div>
                          <div style="float: left;margin: 2px 0 0 10px;text-align: right;">
                            <div style="color: #000;font-weight: bold;">{{ .Params.Datemonth }}</div>
                          <div style="color: #333;">{{ .Params.Dateyear }}</div>
                          </div>
                        </div>
                      </span>
                     
                    </div>











                  </div>
                </div>


                <div class="col-12 col-sm-8 col-md-9 col-lg-10" style="float: left;padding: 20px 0 10px 30px;">
                  <div class="article-content">
                    <h3 class="article-title mb-0 mt-0" itemprop="name" style="font-size: 18px;padding-bottom: 10px;float: left;width: 80%;">
                      <a href="{{ .RelPermalink }}" itemprop="url">{{ .Title }}</a>
                    </h3>
                     <div style="float: left;padding-right: 20px;font-size: 12px;">
                      <img src="/img/icon_user.svg" alt="user" style="float: left;margin-right: 4px;" class="user-icon"/>
        
                     <span>{{ $first_author }}</span>
                    </div>
                    <div style="color: #999;font-size: 12px;">
                      <!-- <img src="/img/icon_read.png" style="float: left;margin-right: 10px;margin-top: 2px;"/> -->
                     <!-- 浏览量 -->
                    </div>


                  </div>
              
                  <div class="article-style" itemprop="articleBody" style="font-size: 12px;color: #575d6d;">
                    {{ if .Params.summary }}
                        {{ .Params.summary | plainify | emojify }}
                    {{ else if .Params.abstract }}
                        {{ .Params.abstract | plainify | emojify | truncate 250 }}
                    {{ else if .Summary }}
                        {{ .Summary | plainify | emojify }}
                    {{ end }}
                    <!-- {{ . | truncate 135 }} -->
                  </div>
          
      

                </div>





            </div>
        </div>
      </div>
    {{ else }}
      <div>
        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        <div class="article-style">
          {{ if .Params.summary }}
          {{ .Params.summary | plainify | emojify }}
          {{ else if .Params.abstract }}
          {{ .Params.abstract | plainify | emojify | truncate 250 }}
          {{ else if .Summary }}
          {{ .Summary | plainify | emojify }}
          {{ end }}
        </div>
      </div>
    {{ end }}
  {{ end }}

  {{ partial "pagination" . }}
</div>
{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}

{{ end }}