{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<article class="article" itemscope itemtype="http://schema.org/Article">
  <div class="container">
    <div class="row" style="    padding-top: 30px;">
      {{ if eq .Type "posts" }}
      <div class="col-md-3">
          {{ partial "blog_author.html" . }}
          {{ $related := .Site.RegularPages.Related . | first 5 }}
            {{ with $related }}
            <div class="article-widget" style="border: 1px solid #eee;">
              <div class="hr-light"></div>
              <h4 style="text-align: center;color: #252b3a;font-size: 18px;margin-bottom: 25px;">{{ i18n "related" }}</h4>
              <ul>
                {{ range . }}
                <li style="margin-bottom: 15px;"><a href="{{ .RelPermalink }}" style="color: #252b3a; font-size: 14px;">{{ .Title }}</a></li>
                {{ end }}
              </ul>
            </div>
            {{ end }}
      </div>
      <div class="col-md-9">
      {{ else }}
      <div class="col-md-12">
      {{ end }}
        {{ partial "page_header.html" . }}
        <div class="col-md-12">

          <div class="article-style" itemprop="articleBody">
            {{ .Content }}
          </div>

          {{ partial "tags.html" . }}

          {{ if and (ne .Type "page") (ne .Type "posts") }}
            {{ partial "page_author.html" . }}
            {{ $related := .Site.RegularPages.Related . | first 5 }}
            {{ with $related }}
            <div class="article-widget">
              <div class="hr-light"></div>
              <h3>{{ i18n "related" }}</h3>
              <ul>
                {{ range . }}
                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }}
              </ul>
            </div>
            {{ end }}
          {{ end }}

          {{ if .Site.Params.section_pager }}
          <div class="article-widget">
            {{ partial "section_pager.html" . }}
          </div>
          {{ end }}

          {{ partial "comments.html" . }}

        </div>
      </div>
    </div>
  </div>
</article>

{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
