{{ $page := . }}
{{ $featured := (.Resources.ByType "image").GetMatch "*featured*" }}
{{ $anchor := $page.Params.image.focal_point | default "Smart" }}

{{/* Set default titles for node pages */}}
{{ $title := .Title }}
{{ if and (not $title) .IsNode }}
  {{ if eq .Type "post" }}
    {{ $title = i18n "posts" }}
  {{ else if eq .Type "talk" }}
    {{ $title = i18n "talks" }}
  {{ else if eq .Type "publication" }}
    {{ $title = i18n "publications" }}
  {{end}}
{{end}}

{{/* Header image */}}
{{ if and .Params.header.image (not (and $featured (not .Params.image.preview_only))) }}
<div class="article-header">
  {{ $img_src := urls.Parse .Params.header.image }}
  {{ if $img_src.Scheme }}
  <img src="{{ .Params.header.image }}" class="article-banner" itemprop="image" alt="">
  {{ else }}
  <img src="{{ (printf "/img/%s" .Params.header.image) | relURL }}" class="article-banner" itemprop="image" alt="">
  {{ end }}

  {{ with .Params.header.caption }}<span class="article-header-caption">{{ . | markdownify | emojify }}</span>{{ end }}
</div>
{{end}}

{{/* Featured image */}}
{{ if and $featured (not .Params.image.preview_only) }}
{{ $image := $featured.Resize "800x" }}
<div class="article-header d-xl-none">
  <div class="featured-image" style="background-image: url('{{ $image.RelPermalink }}');"></div>
  {{ with $.Params.image.caption }}<span class="article-header-caption">{{ . | markdownify | emojify }}</span>{{ end }}
</div>

{{ $image := $featured.Fill (printf "680x500 q90 %s" $anchor) }}
<div class="container-fluid split-header d-none d-xl-block">
  <div class="row">
    <div class="col-4" style="padding-top: 90px;    height: 250px;">
      <div class="split-header-image" style="float: right;"  onclick="window.open({{$.Params.url_video}})">
        <img src="{{ $image.RelPermalink }}" alt="image" itemprop="image" style="width: 260px;height: 160px;" >
       <!--  {{ with $.Params.image.caption }}<span class="article-header-caption">{{ . | markdownify | emojify }}</span>{{ end }} --> 
       <span style="float:right;font-size: 12px;color: #fff;top: -50px;"></span>
      </div>
    </div>
    <div class="col-8" style="height: 250px;">
      <div class="split-header-content">
        <h1 itemprop="name" style="font-size: 24px;color: #252b3a;padding-top: 10px;">{{ $title }}</h1>

        {{ with $.Params.authors }}
        <p style="color: #575d6d;font-size: 14px;">{{ . }}</p>
        {{end}}
        <div itemprop="startDate" class="talkswords" style="margin-top: 52px;">
          <img src="{{$page.Params.time_img }}" alt="time icon" style="float:left;margin-right: 10px; width: 14px; height: 14px;"  />
          {{ $date := $page.Date }}
          {{ (time $date).Format $.Site.Params.date_format }}
          {{ if not $page.Params.all_day }}
            {{ (time $date).Format ($.Site.Params.time_format | default "3:04 PM") }}
            {{ with $page.Params.date_end }}
            &mdash; {{ (time .).Format ($.Site.Params.time_format | default "3:04 PM") }}
            {{ end }}
          {{ end }}
        </div>
        <div>{{ with $page.Params.location }}</div>
        
        <!-- <span class="middot-divider"></span> -->
        <div itemprop="location" class="talkswords" style="margin-top: 5px;">
          <img src="{{$page.Params.location_img }}" alt="location icon" style="float:left;margin-right: 10px;width: 14px; height: 17px;"  />
          <span>{{ . }}</span>
        </div>
        {{ end }}




        {{ partial "page_metadata" (dict "content" $page "is_list" 0) }}

        <!-- {{ partial "page_links_div.html" $page }} -->

        <span style="position: relative;top: -90px;left: calc(100% - 170px)">{{ partial "share.html" $page }}</span>
      </div>
    </div>
    <div style="width: 1200px;height: 1px;background-color: #ccc;margin: 30px auto 0;"></div>
  </div>
</div>

<div class="article-container d-xl-none">
  <h1 itemprop="name">{{ $title }}</h1>

  {{ with $page.Params.subtitle }}
  <p class="page-subtitle">{{ . | markdownify | emojify }}</p>
  {{end}}

  {{ partial "page_metadata" (dict "content" $page "is_list" 0 "share" true) }}
  {{ partial "page_links_div.html" $page }}
</div>
{{else}}
  {{/* Case when page has no image */}}

  {{/* Wider container for nodes */}}
  {{ $ctnr := "container" }}
<div class="{{$ctnr}} pt-3 {{if eq .Type `posts` }} border-bottom {{end}}" style="padding-top: 70px!important;">
  <h1 itemprop="name" style="font-size: 24px;font-weight: bold;border-left: 2px solid red;padding-left: 10px;">{{ $title }}</h1>

  {{ with $page.Params.subtitle }}
  <p class="page-subtitle">{{ . | markdownify | emojify }}</p>
  {{end}}

  {{ if not .IsNode }}
    {{ if eq .Type "posts" }}
      {{ partial "blog_metadata" (dict "content" $page "is_list" 0 "share" true) }}
      {{ partial "tags.html" . }}
    {{ else }}
      {{ partial "page_metadata" (dict "content" $page "is_list" 0 "share" true) }}
    {{end}}
    {{ partial "page_links_div.html" $page }}
  {{end}}
</div>
{{end}}
