{{ $ := .root }}
{{ $page := .page }}

{{ $author := "" }}
{{ if .author }}
  {{ $author = .author }}
{{ else }}
  {{ $author = $page.Params.author }}
{{end}}

{{ $person_page_path := (printf "/author/%s" (urlize $author)) }}
{{ $person_page := $.Site.GetPage $person_page_path }}
{{ if not $person_page }}
  {{ errorf "Could not find an author page at `%s`. Please check the value of `author` in your About widget and create an associated author page if one does not already exist." $person_page_path }}
{{end}}
{{ $person := $person_page.Params }}
{{ $avatar := ($person_page.Resources.ByType "image").GetMatch "*avatar*" }}

<!-- About widget -->
{{ with $page.Title }}
<div class="newtitle" style="width: 100%; text-align: center; font-size: 24px; font-weight: bold; padding-bottom: 0; margin-bottom: 0; color: #252b3a;">
  {{ if eq $.Site.Language.Lang "zh" }}
    为什么选择Volcano
  {{ else }}
    Why Volcano
  {{ end }}
</div>
{{ end }}

<div class="row justify-content-center">
  <div class="col-12 col-lg-12">
    <div class="content-section mt-5">
      {{ with $person.role }}
      <p class="role-title text-center mb-4">{{ . }}</p>
      {{ end }}
      <div class="content-text">
        {{ $person_page.Content }}
      </div>
    </div>
  </div>
</div>
